{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Shared IDE Auth</title>

    <link rel="stylesheet" type="text/css" href="{% static "styles/auth.css" %}">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css" crossorigin="anonymous">
  </head>

  <input type="hidden" id="csrftoken" value="{% csrf_token %}" />

  <body>
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand">Shared IDE</a>
        </div>
      </div>
    </nav>

    <div class="container">
      <div id="root"></div>
    </div>

    <script src="{% static "auth.js" %}" type="text/javascript" charset="utf-8"></script>
  </body>
</html>
