{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Shared IDE</title>

        <script src="{% static "build/react.js" %}" type="text/javascript" charset="utf-8"></script>
        <script src="{% static "build/react-dom.js" %}" type="text/javascript" charset="utf-8"></script>
    </head>
    <body>
        <div id="example"></div>

        <script src="{% static "build/disk.min.js" %}" type="text/javascript" charset="utf-8"></script>
    </body>
</html>