{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Shared IDE {{ file }}</title>

    <link rel="stylesheet" type="text/css" href="{% static "styles/ide.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "styles/loader.css" %}">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css" crossorigin="anonymous">
  </head>

  <body>
    <input type="hidden" id="user" value="{{ request.user.id }}" />
    <input type="hidden" id="file_id" value="{{ file.id }}" />
    <input type="hidden" id="websocket_uri" value="{{ WEBSOCKET_URI }}" />

    <div id="root"></div>

    <script src="{% static "ide.js" %}" type="text/javascript" charset="utf-8"></script>
  </body>
</html>
