{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Shared IDE Sign up</title>

    <link rel="stylesheet" type="text/css" href="/static/styles/auth.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css" crossorigin="anonymous">
  </head>

  <body>
    <div class="container">
      <form class="form-auth" id="auth">
        {% csrf_token %}

        <div class="alert alert-danger" role="alert" id="exists">Username is used</div>

        <h2 class="form-auth-heading">Please sign up</h2>
        <label for="id_username" class="sr-only">Username:</label>
        <input id="id_username" maxlength="254" name="username" type="text" class="form-control username" placeholder="Login" required autofocus />
        <label for="id_first_name" class="sr-only">First name:</label>
        <input id="id_first_name" maxlength="254" name="first_name" type="text" class="form-control name" placeholder="First name" required />
        <label for="id_last_name" class="sr-only">Last name:</label>
        <input id="id_last_name" maxlength="254" name="last_name" type="text" class="form-control name" placeholder="Last name" required />
        <label for="id_email" class="sr-only">Email:</label>
        <input id="id_email" maxlength="254" name="email" type="email" class="form-control" placeholder="Email" required />
        <label for="id_password" class="sr-only">Password:</label>
        <input id="id_password" name="password" type="password" class="form-control" placeholder="Password" required />

        <button class="btn btn-lg btn-primary btn-block" type="submit" id="submit">Sign up</button>
      </form>

      <h2 class="change-auth"><a href="/accounts/login/" id="change-auth">Sign in</a></h2>
    </div>

    <script src="{% static "registration.js" %}" type="text/javascript" charset="utf-8"></script>
  </body>
</html>
